* {
  font-family: sans-serif;
}

body {
  margin: 0;
  height: 100vh;
  display: grid;
  grid-template-areas:
    "main-title aside-title"
    "main aside";
  grid-template-columns: auto 1fr;
  grid-template-rows: auto 1fr;
}

body h2 {
  font-size: 2.5em;
  margin: 0;
  padding: 1.5rem;
}

body h2#main-title {
  grid-area: main-title;
  border-bottom: #7c7cea 1px solid;
}

body main {
  grid-area: main;
  padding: 1.5rem;
}

body main svg {
  padding: 10px;
  stroke-linecap: round;
  stroke-linejoin: round;
}

body h2#aside-title {
  grid-area: aside-title;
  border-left: #7c7cea 1px solid;
  border-bottom: #7c7cea 1px solid;
}

body aside {
  grid-area: aside;

  border-left: #7c7cea 1px solid;

  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

body aside section {
  padding: 1rem 1.5rem;
  border-right: #7c7cea 1px solid;
  border-bottom: #7c7cea 1px solid;
}

body aside section h3 {
  font-size: 1.75em;
  margin: 0.5rem 0;
}

body aside section ul {
  padding-left: 0;
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 0.75rem;
}

body aside section ul li label {
  display: flex;
  align-items: center;
  font-size: 1.25em;
}

body aside section ul li label input {
  margin-left: 0.25em;
  font-size: 1.25em;
  width: 10rem;
}
